* {
  box-sizing: border-box;
}

#root {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 3rem 1fr;
  background: linear-gradient(40deg, rgb(0 0 0 / 0.05), rgb(0 0 0 / 0.15));
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  
}

@media screen and (max-width: 805px) {
  

  #root {
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}